<div class="welcome">
    <a routerLink="/estes-recipes"><img src="../../assets/images/325.jpg"
        class="home-image"></a>
    <h2 class="text-on-image-main">Recipes from Estes Park</h2>
</div>
<div class="footer">
    <p class="copyright">All effort has been made to give credit to original authors</p>
    <p class="copyright">Questions, corrections
        or feedback? Message me <a class="website"
           href="mailto: jesse.lind@gmail.com">here</a></p>
    <p class="copyright">Copyright &#169; 2020 by Jesse Lind</p>
</div>